html {

  scroll-behavior: smooth;

}

body {

    background: rgb(124, 123, 123);
    background-image: url("https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

nav {

    box-shadow: 0 0 10px black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
  
  .content {

    text-align: center;
    font-family: 'Oswald', sans-serif;

  }

.carousel-inner {

    box-shadow: 0 0 10px white;

}

.three-dee:hover {
	animation: three-dee 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @keyframes three-dee {
    0% {
      box-shadow: 0 0 #F68702, 0 0 #F68702, 0 0 #F68702, 0 0 #F68702, 0 0 #F68702, 0 0 #F68702, 0 0 #F68702, 0 0 #F68702;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #F68702, 2px 2px #F68702, 3px 3px #F68702, 4px 4px #F68702, 5px 5px #F68702, 6px 6px #F68702, 7px 7px #F68702, 8px 8px #F68702;
      transform: translateX(-8px) translateY(-8px);
    }
  }
  
  
.container {

    padding: 1% 1% 1% 1%;
    color: white;
    font-family: 'Oswald', sans-serif;
    box-shadow: 1px 1px 5px black;
    background: rgba(255, 255, 255, 0.4);

}

.jumbotron {

    text-shadow: 0 0 10px lightskyblue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.5vw;

}

.card {

  background: rgba(255, 255, 255, 0.9);
  color: black;

}

#title {

  font-size: 5vw;
  text-shadow: 0 0 10px lightskyblue;
  text-decoration: underline overline;
  font-family: 'Ubuntu', sans-serif;
  display: none;

}

.subtitle {

  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 5px lightskyblue;
  padding: 1%;
  font-size: 3vw;

}

.subtitle-med {

  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  color: white;
  text-shadow: 0 0 5px black;
  font-weight: bold;

}

.subtitle-small {

  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 0 0 5px lightskyblue;
  padding: 1%;
  font-size: 1.5vw;

}

.info {

  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 10px black;
  text-shadow: 1px 1px 5px black;
  background: rgba(0, 0, 0, 0.6);
  padding: 1%;
  color: white;
  font-family: 'Play', sans-serif;
  text-align: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  font-size: 1.5vw;


}

iframe {

  padding: 1%;

}

.container2 {

  padding: 5%;

}

article {

  padding: 1%;
  text-align: center;

}

article .row {

  display: inline-block;

}

article .column {

  float: left;

}

article img {
  width: 100%;
  box-shadow: 0 0 5px black;
  padding: 2%;

}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.wrapper {

  padding: 2%;
  background: rgba(255, 255, 255, 0.4);

}

.container2 {

  color: white;
  font-size: 1.5vw;

}

.content2 {

  padding: 2%;
  background: rgba(255, 255, 255, 0.4);

}

article ul {

  color: white;
  border-radius: 5px;
  text-align: left;
  font-size: 1.5vw;
  text-shadow: 1px 1px 5px black;
  font-family: 'Play', sans-serif;

}

#modules {

  cursor: pointer; /* Changer the cursor */
  padding: 1%;
  border: 2px solid orange;
  border-radius: 5px;
  box-shadow: 0 0 10px yellow;
  margin-top: 2%;
  background: rgba(0, 0, 0, 0.5);

}

.card {

  background: rgba(255, 255, 255, 0.3);

}

section {

  background: url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#click {
  animation: shake 1s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 30px;
  padding: 2%;
  box-shadow: 1px 1px 10px black;
  font-family: 'Ubuntu', sans-serif;
}

#myFooter .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .navbar-brand {
  margin-top: 45px;
  height: 65px;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a{
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .btn {
  color: white;
  background-color: transparent !important;
  border-radius: 20px;
  border: 1px solid orangered !important;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  #myFooter {
      text-align: center;
  }
}

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.content{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}

.center-shadow:hover {
	animation: center-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes center-shadow {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 10px 0px orange;
  }
}

#top-button {

  bottom: 13%;
  right: 2%;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 10000;
  border: none;
  background: orangered;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px black;
  display: none; /* We don't want it all the time */
  border-radius: 3px;

}
